body {
    margin: 0;
    padding: 0;
    background-color: #e6f87e;
    background-image: url("Logochocolate.PNG"),url("fondo.jpg");
    background-position:0% 0%,50% 50%;
    background-size: 222px 108px, 1510px 750px;
    background-repeat: no-repeat;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 80px;
    max-width: 800px;
    height: 320px;
    border: 1px solid #361902;
    background-color: #361902;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login
    .container
    #login-row
    #login-column
    #login-box
    #login-form
    #register-link {
    margin-top: -85px;
  }
  